.register-success {
  text-align: center;
  font-size: 22px;
  width: 100%;
}

.register-go-back {
  padding: 8px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-list {
  list-style: none;
}
