.address-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.address-form-title {
  font-size: 22px;
  text-align: center;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 8px;
}

.form-button {
  padding: 8px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.form-button:hover,
.form-button::after {
  border: 2px solid #000;
  background: #fff;
  color: #000;
  transition: 0.5s;
}

@media (min-width: 320px) {
  .input {
    width: 95%;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .input {
    width: 70%;
    font-size: 16px;
  }
}
